@model IEnumerable<AngularTypeScriptDemo.Models.Beer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div ng-controller="app.beers.BeersController as vm">
    <table class="table">
        <thead>
        <th>Beer</th>
        <th>Colour</th>
        <th>Has Tasted</th>
        <th></th>
        </thead>
        <tbody>
            <tr ng-repeat="beer in vm.beers">
                <td>{{beer.name}}</td>
                <td>{{beer.colour}}</td>
                <td>
                    <input type="checkbox" ng-model="beer.hasTried" /> Have Tried
                </td>
                <td><a href="@Url.Action("Delete", "Beers")/?id={{beer.id}}">Delete</a></td>
            </tr>
            <tr ng-if="vm.beers.length === 0">
                <td colspan="4">There are no beers to display</td>
            </tr>
            <tr ng-if="vm.showBeer">
                <td>
                    <input type="text" class="form-control" placeholder="Name" ng-model="vm.newBeer.name" />
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="Colour" ng-model="vm.newBeer.colour" />
                </td>
                <td>
                    <input type="checkbox" class="" placeholder="Has Tried" ng-model="vm.newBeer.hasTried" /> Have tasted
                </td>
                <td>
                    <button ng-click="vm.addBeer(vm.newBeer)" class="btn btn-primary">Add</button>
                    <button ng-click="vm.showBeerForm(false)" class="btn btn-default">Cancel</button>
                </td>
            </tr>
        </tbody>
    </table>
    <a ng-click="vm.showBeerForm(true)" class="btn btn-primary">Add Beer</a>


</div>
